token.txt
test.*
*__pycache__
.env
notes.txt
/.vscode
/.idea
/training_data

cogs/adventure.py
cogs/pets.py
base/pet.py
data/chatbot.*
data/analytics.pkl
data/barrel*
data/trades.json
data/playerdata.json
data/guild_config.*
data/randomnumberscores.json